.header {
    background: #F7F6FF;
}
.header__account{
    display: flex;
    align-items: center;
}
.user{
    display: flex;
    align-items: center;
}
.user :last-child{
    margin-left: 20px;
}
.header__accounts-items img{
    margin-right: 36px;
}
.header__accounts-items img:last-child{
    margin-right: 46px;
}
.user__name{
    margin-right: 16px;
}
.header__text{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    max-width: 1049px;
    margin-top: 190px;
}
.header__text span {
    color: #1DBF73;
}
.services__form{
    max-width: 645px;
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
    
}
.services__form input{
    width: 645px;
    height: 60px;
    background: #F2F0FE;
    border-radius: 50px;
    border: none;
    outline: none;
}
.services__form input::placeholder{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #656084;
    padding-left: 19px;
}
.services__categories-items{
    max-width: 741px;
    display: flex;
    justify-content: space-around;
}
.services__order{
    margin-top: 50px;
    margin-bottom: 34px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.services__order span{
    color: #1DBF73;
}
.green-arrow{
    margin-bottom: 171px;
}
.orders__header{
    margin-top: 60px;
}
.orders__header-left{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
    
}
.orders__selection-min{
    border: 1px solid #F2F0FE;
    border-radius: 20px;
    
    
}
    
.orders__selection-min a{
    padding: 12px 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #656084;
    
}
.orders__selection-max{
    border: 1px solid #F2F0FE;
    border-radius: 20px;
    
    
}
    
.orders__selection-max a{
    padding: 12px 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #656084;
    
}
.orders__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.orders__increase{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid #F2F0FE;
    border-radius: 20px;
    max-width: 245px;
    padding: 12px 23px;
    margin-left: 40px;
}
.orders__selection{
    display: flex;
    align-items: center;
}
.orders__header-right{
    display: flex;
}
.orders__cards{
    margin-top: 40px;
}
.orders__card{
    border: 1px solid #F2F0FE;
    border-radius: 20px;
    margin-bottom: 40px;
}
.orders__card:hover{
    box-shadow: 0px 16px 16px rgba(34, 34, 34, 0.04);
   transform: translateY(-5px);
}
.orders__wrapper{
    padding: 20px;
}

.orders__task-title{
    display: flex;
    justify-content: space-between;
}
.orders__info {
    display: flex;
    justify-content: space-between;
}
.orders__info-left{
    display: flex;
    align-items: center;
}
.orders__img{
    margin-right: 20px;
    margin-top: 20px;
}
.info__stars{
    display: flex;
    align-items: center;
}
.title{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
}
.budjet{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #1DBF73;
}
.info-text1{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.info-text {
    margin-bottom: 12px;
    margin-top: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px
} 
.info__stars img:last-child{
    padding-right: 23px;
}
.info__stars p{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

} 
.text-right1{
    margin-bottom: 91px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #656084;
}
.text-right2{
    text-align: right;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #656084;
} 